<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3e03dd0e32.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid d-flex text-center">
        <main class="form-signin mx-auto w-75">
            <form id=formUser method = "POST">
                <h1 style="font-size: 100px; color: green;"><i class="fa-solid fa-money-check-dollar"></i></h1>
                <h1 class="h3 mb-3">Iniciar sesión</h1>
    
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                </div>

                <div id="msg" class="alert alert-sm alert-danger d-none mb-3" role="alert">
                    Usuario o Contraseña incorrectos
                </div>

    
                <button class="w-100 btn btn-success" type="submit" id="buttonLogin">Iniciar sesión</button>
                <a href="signup.html" class="w-100 btn btn-primary mt-2">Registrarse</a>
            </form>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/login.js" type="text/javascript"></script>
    <!-- <script type="module" src="../static/functions.js"></script> -->
</body>

</html>